<section class="space-ptb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 text-center">
          <!-- Section Title START -->
          <div class="section-title">
            <h2 class="title">Nos consultants formateurs </h2>
            <p>
              Notre expérience et celle de nos formateurs-consultants permettent aux entreprises de trouver un organisme de formation partenaire, réactif et force de proposition.
              
            </p>
          </div>
          <!-- Section Title END -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 mb-4 mb-md-0">
          <!-- team-01 START -->
          <div class="team">
            <div class="team-img">
              <img class="img-fluid" src="images/team/08.jpg" alt="">
              
            </div>
            <div class="team-info">
              <a href="teachers-single.html" class="team-name">MICHEL B</a>
              <p class="team-leader">Formateur</p>
              <ul class="list-unstyled">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- team-01 END -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-4 mb-md-0">
          <!-- team-01 START -->
          <div class="team">
            <div class="team-img">
              <img class="img-fluid" src="images/team/08.jpg" alt="">
              
            </div>
            <div class="team-info">
              <a href="teachers-single.html" class="team-name">MICHEL B</a>
              <p class="team-leader">Formateur</p>
              <ul class="list-unstyled">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- team-01 END -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-4 mb-md-0">
          <!-- team-01 START -->
          <div class="team">
            <div class="team-img">
              <img class="img-fluid" src="images/team/08.jpg" alt="">
              
            </div>
            <div class="team-info">
              <a href="teachers-single.html" class="team-name">MICHEL B</a>
              <p class="team-leader">Formateur</p>
              <ul class="list-unstyled">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- team-01 END -->
        </div>
        
      </div>
    </div>
  </section>