<section class="py-3 bg-primary mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="d-flex align-items-center">
            <i class="flaticon-education fa-4x text-white"></i>
            <h5 class="pl-4 font-weight-normal mb-0">2000 stagiaires formés chaque année</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex align-items-center">
            <i class="flaticon-knowledge fa-4x text-white"></i>
            <h5 class="pl-4 font-weight-normal mb-0">plus de 1500 formations disponibles</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex align-items-center">
            <i class="flaticon-medal fa-4x text-white"></i>
            <h5 class="pl-4 font-weight-normal mb-0">
              4/5 personnes nous recommandes
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>