<section class="space-ptb bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
          <div class="counter">
            <div class="counter-icon">
              <i class="flaticon-team-1 text-white"></i>
            </div>
            <div class="counter-content">
              <span class="timer text-white" data-to="1790" data-speed="10000">2000</span>
              <label class="text-white">Stagiaires formés</label>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
          <div class="counter">
            <div class="counter-icon">
              <i class="flaticon-diploma-1 text-white"></i>
            </div>
            <div class="counter-content align-self-center">
              <span class="timer text-white" data-to="245" data-speed="10000">1500</span>
              <label class="text-white">Formations disponibles</label>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-4 mb-md-0">
          <div class="counter">
            <div class="counter-icon">
              <i class="flaticon-support text-white"></i>
            </div>
            <div class="counter-content">
              <span class="timer text-white" data-to="491" data-speed="10000">155</span>
              <label class="text-white">Experts consultants</label>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="counter">
            <div class="counter-icon">
              <i class="flaticon-trophy-1 text-white"></i>
            </div>
            <div class="counter-content">
              <span class="timer text-white" data-to="1090" data-speed="10000">1090</span>
              <label class="text-white">Diplomes</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>