<!DOCTYPE html>
<html lang="en">
  
<!-- Mirrored from themes.potenzaglobalsolutions.com/html/academic/privacy-policy.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Aug 2022 14:49:22 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Academic - Education, University and College Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DZINGOO - Charte qualité</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/logo_dzingoo.png" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&amp;display=swap" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->

    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>

    <!--=================================
    Header -->
    <%- include('partials/header.ejs') %> 
    <!--=================================
    Header -->

    <!--=================================
    inner-header -->
    <section class="inner-banner bg-overlay-black-70" style="background-image: url('images/bg/05.jpg');">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="text-center">
              <h1 class="text-white">CHARTE QUALITÉ</h1>
            </div>
            <div class="d-flex justify-content-center ">
              <ol class="breadcrumb mb-0 p-0">
              <li class="breadcrumb-item"><a href="/">Acceuil</a></li>
              <li class="breadcrumb-item active"><span>Charte qualité</span></li>
            </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    inner-header -->

    <!--=================================
    Terms-and-conditions -->
    <section class="space-ptb">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          <h4 class="text-primary">Engagement</h4>
          <p>Dzingoo est un organisme de formation tournée vers ses collaborateurs</p>
          
          <ul class="list-unstyled">
            <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Egalité dans le partage des responsabilités hommes - femmes.</li>
            <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Valorisation et évolution des compétences par la mise en place de formations régulières auprès de nos collaborateurs.</li>
            <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Horaires adaptées grâce à une organisation flexible </li>
           
          </ul>
          <h4 class="mt-4 text-primary">DZINGOO, un acteur qui s’engage avec une offre de formations développement durable.</h4>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Le management environnemental</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Adopter une politique d’achats responsable</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Les achats responsables dans les marchés publics</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Mettre en place une communication responsable</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Concevoir des supports professionnels éco-responsables</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Développement durable en hôtellerie restauration</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Sensibilisation au développement durable</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Le développement durable en entreprise</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Développement Durable et Ressources Humaines</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Maitriser la RSE : Responsabilité Sociale et Environnementale</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Les installations Classées ICPE</li>

          <h4 class="mt-4 text-primary">La charte RSE.</h4>
          <p>La présente charte a pour objectif d’engager les adhérents et leurs collaborateurs dans une démarche RSE appliquée à leur activité de formation professionnelle. Elle décline les principes de développement durable dans les volets suivants : sociétal, économique, environnemental ainsi que dans le mode de gouvernance</p>

         
          <h4 class="text-primary">Sociétal</h4>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Développer la formation tout au long de la vie</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Assurer la sécurité de l’emploi et des parcours professionnels</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Intégrer la dimension de la qualité de la vie au travail</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Promouvoir la diversité et l’égalité des chances</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Favoriser l’accès à la formation</li>
          <h4 class="text-primary">Economique</h4>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Assurer la pérennité de l’organisme de formation et réaliser les investissements nécessaires</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Mener des programmes de recherche, développement et innovation</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Intégrer la dimension territoriale dans le développement de son activité (recrutement, politique d’achats, partenariats)</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Maintenir durablement la compétence des collaborateurs</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Favoriser l’accès à la formation</li>
          <h4 class="text-primary">Evironnemental</h4>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Promouvoir en interne les enjeux du développement durable</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Identifier, anticiper, gérer les risques (financiers, fiscaux, sociaux, environnementaux, de sécurité, etc..)</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Sensibiliser ses partenaires au développement durable</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Privilégier des relations constructives, loyales et participatives avec ses parties prenantes (salariés, clients, fournisseurs, actionnaires, etc.)</li>
          <h4 class="text-primary">Gouvernance</h4>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Promouvoir en interne les enjeux du développement durable</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Identifier, anticiper, gérer les risques (financiers, fiscaux, sociaux, environnementaux, de sécurité, etc..)</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>Sensibiliser ses partenaires au développement durable Privilégier des relations constructives, loyales et participatives avec ses parties prenantes (salariés, clients, fournisseurs, actionnaires, etc.)</li>
          <li class="mb-2"> <i class="fa fa-angle-right pr-2 mb-2"></i>En signant cette charte, les adhérents témoignent de leur engagement éthique et apportent leur contribution aux enjeux du développement durable.</li>
          
         </div>
        </div>
      </div>
    </section>
    <!--=================================
    Terms-and-conditions -->

    <!--=================================
    Footer-->
    <%- include('partials/footer.ejs') %> 
    <!--=================================
    Footer-->

    <!--=================================
    Back To Top-->
    <div id="back-to-top" class="back-to-top">Top</div>
    <!--=================================
    Back To Top-->

    <!--=================================
    Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/jquery.appear.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>

  </body>


<!-- Mirrored from themes.potenzaglobalsolutions.com/html/academic/privacy-policy.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Aug 2022 14:49:22 GMT -->
</html>
